<!DOCTYPE html>
<html>

<head> 
<title>Create question</title>
</head> 
<body> 
    <pre>
        <a href="/AdminDashboard" style="text-decoration:none">Home</a>	  <a href="/CreateQuestion", style="text-decoration:none">Add question</a> 	   <a href="/ChooseSession", style="text-decoration:none">Add survey</a>	    <a href="/Metrics", style="text-decoration:none">Metrics</a>	   <a href="/logout", style="text-decoration:none">Logout</a>
    </pre>
	<h1 style="text-align:center; padding-top: 30px; color: purple ">New Question Form</h1>
	<input type="text" name="question" placeholder="Enter a question" /><br/>
	<input type="checkbox" name="type" value="Mandatory">Mandatory <input type="checkbox" name="type" value="Optional">Optional<br/>
	<input type="checkbox" name="basis" value="Text-based">Text-based <input type="checkbox" name="basis" value="MCQ">MCQ<br/>
	<button type="button" name="addQuestion" value="pressed">Add question</button>
</body>
</html> 
